<!-- src/main/resources/templates/fragments/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Definizione del fragment con nome "footerFragment" -->
<footer class="footer" th:fragment="footerFragment">
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer--col">
                <h4>WannaBet</h4>
                <ul>
                    <li><a href="#">Privacy/Policy</a></li>
                    <li><a href="#">Termini e condizioni</a></li>
                </ul>
            </div>
            <div class="footer--col">
                <h4>Contatti</h4>
                <ul>
                    <li><a href="mailto:r.manzo43@studenti.unisa.it">r.manzo43@studenti.unisa.it</a></li>
                    <li><a href="mailto:l.tufano15@studenti.unisa.it">l.tufano15@studenti.unisa.it</a></li>
                    <li><a href="mailto:l.giammattei@studenti.unisa.it">l.giammattei@studenti.unisa.it</a></li>
                    <li><a href="mailto:e.distasio1@studenti.unisa.it">e.distasio1@studenti.unisa.it</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
