<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/area_utente.css">
</head>
<body>

    <headr>
        <nav>
            <h2>Ciao Utente !</h2>
            <ul class ="saldobtn">
                <li><h3>Ecco il tuo Saldo: NUMERO DA INSERIRE   </h3></li>
                <li><button>Deposita</button></li>
                <li><button>Preleva</button></li>
            </ul>
        </nav>
    </headr>

    <h1>Inserisci Lista Scommesse</h1>

</body>
</html>