<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script/signup-login.js" defer></script>
    <script src="../static/script/quota.js" defer></script>
</head>
<body>
    <section class="contentSection">
        <h2>Categorie</h2>
        <div id ="categoryList" class="categoryList"></div>
        <h2>Quote</h2>
        <div id="quoteList" class="quoteList"></div>
    </section>
</body>
</html>