<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>WannaBet Home</title>
    <link rel="stylesheet" href="../static/css/HomeStyle.css">
    <script src="../static/script/signup-login.js" defer></script>
    <script src="../static/script/headerwannabet.js" defer></script>
    <script src="../static/script/footerwannabet.js" defer></script>
</head>
<body>

<header id ="headerwannabet">

</header>

<footer class = "footer" id="footerwannabet">

</footer>
</body>
</html>