<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WannaBet Home</title>
    <link rel="stylesheet" href="../static/css/HomeStyle.css">
    <script src="../static/script/signup-login.js" defer></script>
    <script src="../static/script/home.js" defer></script>
</head>
<body>

<header id = header>

</header>



<footer class = "footer">
    <div class = "footer__container">
        <div class="footer__row">
            <div class="footer--col">
                <h4>DataFooter1</h4>
                <ul>
                    <li><a href="#">dati</a></li>
                    <li><a href="#">dati</a></li>
                    <li><a href="#">dati</a></li>
                    <li><a href="#">dati</a></li>
                </ul>
            </div>
            <div class="footer--col">
                <h4>DataFooter2</h4>
                <ul>
                    <li><a href="#">dati</a></li>
                    <li><a href="#">dati</a></li>
                    <li><a href="#">dati</a></li>
                    <li><a href="#">dati</a></li>
                </ul>
            </div>
            <div class="footer--col">
                <h4>Contatti</h4>
                <ul>
                    <li><a href="#">dati</a></li>
                    <li><a href="#">dati</a></li>
                    <li><a href="#">dati</a></li>
                    <li><a href="#">dati</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>





