<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WannaBet Lista Eventi</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script/signup-login.js" defer></script>
    <script src="../static/script/eventi.js" defer></script>
</head>
<body>
    <section class="contentSection">
        <div>
            <h2>Categoria Eventi</h2>
            <div id="categorie" class="categoryList"></div>
        </div>
        <div>
            <h2>Ultima chance</h2>
            <div id="partiteRecenti" class="matchList"></div>
        </div>
    </section>
</body>
</html>