<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WannaBet Scommesse</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script/signup-login.js" defer></script>
    <script src="../static/script/scommessa.js" defer></script>
</head>
<body>
    <section class="contentSectionBet">
        <h1>Giocata</h1>
        <h2 id="statoScommessa">Stato: </h2>
        <h2 id="dataScommessa">Data: </h2>
        <div id="eventList" class="eventList"></div>
    </section>
</body>
</html>