<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WannaBet Scontrino</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script/signup-login.js" defer></script>
    <script src="../static/script/scommessa.js" defer></script>
</head>
<body>
    <section class="contentSectionBet">
        <h1>Quote scommesse</h1>
        <div id="eventList" class="eventList"></div>
        <div class="actionButtonList">
            <button class="bookButton">Prenota</button><button class="betButton">Scommetti</button>
        </div>
    </section>
    </section>
</body>
</html>