<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script/signup-login.js" defer></script>
</head>
<body>
    <section>
        <form>
            <h1>WannaBet</h1>
            <div class="inputbox">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="inputbox">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button>Sign Up</button>
            <div class="register">
                <p>Already have an account? <a href="login.html">Log In</a> </p>
            </div>
        </form>
    </section>
</body>
</html>