@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    background-color: black;
}

li, a, button{
    font-family: "Monotserrat", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0px 20px;
}
.menu li a{
    transition: 0.3s ;
}

.menu li a:hover{
    transition: 0.3s ;
}

button{
    margin-left: 10px;
    padding: 9px 25px;
    background-color: rgb(169, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(126, 6, 6, 0.8);
}














.footer{
    padding: 70px 0;
}
.footer__container{
    max-width: 1170px;
    margin: auto;
}
.footer ul{
    list-style: none;
}

.footer__row{
    display: flex;
    flex-wrap: wrap;

}

.footer--col{
    width: 25%;
    padding: 0 15px;
}
.footer--col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer--col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer--col ul li:not(:last-child){
    margin_bottom: 10px;
}
.footer--col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;

    display: block;
    transition: all 0.3s ease;
}
.footer--col ul li a:hover{
    color: white;
    padding-left: 8px;
}

@media(max-width: 767px){
    .footer--col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer--col{
        width: 100%;
    }
}
