@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.nav_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav_item{
    height: 80px;
}

.nav_links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.logo{
    width: 140px;
}

.nav_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 01rem;
    width: 100%;
}
.buttonR{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    background: red;
    color: white;
}

.buttonL{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    background: grey;
    color: white;
}